// html {
// 	min-height: 100vh;
// }

body {
	margin: 0;
	min-height: 100vh;
	color: #000;
	background-color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.hide {
	display: none;
}

.js-only {
	display: none;
}

.no-js {
	display: block;
}

body.js {
	.js-only {
		display: block;
	}

	.no-js {
		display: none;
	}
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	padding-inline: 20px;
	margin: auto;
	flex-grow: 1;
}

.monthControls {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
