.month {
	margin: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	aspect-ratio: 3 / 4;
	font-family: "Atkinson-Hyperlegible", sans-serif;
}

.monthHeader {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	flex-grow: 0;
}

.monthTitle {
	text-align: center;
	width: 100%;
}

.monthBody {
	flex-grow: 1;
	flex-shrink: 1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.dayHeader {
	text-transform: uppercase;
}
