---
layout: main.njk
title: Print a Month
---

<main>
	<h1>Print a Month</h1>

	<div class="monthControls">
		<div class="monthNav prevMonth js-only"></div>
		<h2 class="monthTitle">
			<span class="js-only">Loading...</span>
			<span class="no-js">This site requires JavaScript.<br>Sorry Charlie and Heydon.</span>
		</h2>
		<div class="monthNav nextMonth js-only"></div>
	</div>

	<div class="month">
		<div class="monthHeader"></div>
		<div class="monthBody"></div>
	</div>
</main>
