.day {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: $grid-border-width solid $grid-border-color;
}

.day.first7 {
	border-top: ($grid-border-width * 2) solid $grid-border-color;
}

.day.last7 {
	border-bottom: ($grid-border-width * 2) solid $grid-border-color;
}

.day.day1,
.day-monday {
	border-left: ($grid-border-width * 2) solid $grid-border-color;
}

.day-monday {
	grid-column: 1;
}

.day-tuesday {
	grid-column: 2;
}

.day-wednesday {
	grid-column: 3;
}

.day-thursday {
	grid-column: 4;
}

.day-friday {
	grid-column: 5;
}

.day-saturday {
	grid-column: 6;
}

.day-sunday {
	grid-column: 7;
	border-right: ($grid-border-width * 2) solid $grid-border-color;
}

.day.last {
	border-right: ($grid-border-width * 2) solid $grid-border-color;
}

.weekend {
	background-color: rgba(255 0 0 / 20%);
}

.bh {
	background-color: rgba(255 255 0 / 20%);
}

.day p {
	margin: 5px;
	text-align: left;
}
