body {
	margin: 0;
	height: 100vh;
	color: #000;
	background-color: #fff;
	text-align: center;
}

.hide {
	display: none;
}

.js-only {
	display: none;
}

.no-js {
	display: block;
}

body.js {
	.js-only {
		display: block;
	}

	.no-js {
		display: none;
	}
}

main {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin: auto;
}

.monthControls {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
